{% load static %}

<header>
  <nav class="navbar  navbar-expand-lg navbar-light  " style="background-color: lightskyblue">
    <div class="container ">
      
      <a class="navbar-brand" href="{% url 'posts:index' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span style="color:red">Ya</span>tube
      </a>

      <button class="navbar-toggler" type='button' data-bs-toggle='collapse' data-bs-target='#navbarContent'
        aria-controls='navbarContent' aria-expanded='false'>
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse flex-row-reverse" id="navbarContent">
        <ul class="navbar-nav  mb-2 nav-pills ">
            {% with request.resolver_match.view_name as view_name %} 
            <li class="nav-item"> 
              <a class="nav-link {% if view_name  == 'about:author' %}active{% endif %}" 
              href="{% url 'about:author' %}">Об авторе</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if view_name  == 'about:tech' %}active{% endif %}" 
              href="{% url 'about:tech' %}">Технологии</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item"> 
              <a class="nav-link {% if view_name  == 'posts:create_post' %}active{% endif %}"
              href="{% url 'posts:create_post' %}">Новая запись</a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link {% if view_name  == 'users:password_change' %}active{% endif %} link-light " 
              href="{% url 'users:password_change' %}">Изменить пароль</a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link link-light {% if view_name  == 'about:logout' %}active{% endif %}" 
              href="{% url 'users:logout' %}">Выйти</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link link-light {% if view_name  == 'posts:profile' %}active{% endif %}" 
              href="{% url 'posts:profile' user.username %}">Пользователь: {{ user.username }}</a>
            </li>
            {% else %}
            <li class="nav-item"> 
              <a class="nav-link link-light" href="{% url 'users:login' %}">Войти</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-light" href="{% url 'users:signup' %}">Регистрация</a>
            </li>
            {% endif %}
            {% endwith %} 
        </ul>
      </div>
  </nav>      
</header>




