{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}

<h1>Привет, меня зовут Семён</h1>
  <h5>14.10.2022</h5>
  <p class"list-group">
    Всем привет Вот Сделал Проект и Жду нового спринта уже 2 недели, 
    ну да я Справился один из первых, но всё же <br>
    про новую тему уже почитал, 
    Скушно в общем, хотя наверное я зря залез вперёд<br>
    Я начал сильно переживать что и как будет в плане темы сложные боюсь закопаюсь <br>
    Кстати это уже 2рые 3 недели в которые я просто сижу Очень хочется брость всё что бы не ждать,<br>
    Но зато когда начинается следующий Спринт Я просто ухожу в отрыв И получаю неопесуемый кайф  <br>
    вот и я просто не знаю как с собой договариватся держатся до следующего спринта А ещё и каникулы на носу <br>
    я не знаю как буду держатся =\<br>
    Игры меня уже задалбали и почти не вставляют. В общем жопа
  </p>
  <br>
  <p>
    <p>
      А так вроде норм потихоньку 
      нужно будет Поработать над стилем  доработать Вывод постов а после адаптировать для картинок 
      + хочу Переработать header и footer мне не нравится ни цвет ни само расположение кнопок + нужно будет добавить поиск 
      С темой сайта я не особо определился Но скроее всего Он будет про музыкальные группы 
    </p>
    <p>
      <h5> Первая Заметка : </h5>
        на фоне будут музыкальные пластинки ктороые при скролле вниз будут крутится )
        названия пластинок будут рандомными 
        Пластинки более сверху а ниже уход в чёрный 
        слева с красной итекеткой а справа с жёлтой 
        Это будет реализовано на css С помощю javasctipt
    </p>
    <p>
      <h5> Вторая Заметка : </h5> <br> 
        Картинками будут Самые Известные-красивые изображения Групп 
        На странице Группы Будет возможно кроме информации Какие то итерактивные элементы
    </p>
    <p>
      <h5> Третяя Заметка : </h5> <br> 
        В постах будут актуальные новости об этих группах Дата поста будет = Дате появления этой новости или по популярности (лайкам итд.)
        Будет дополнен профиль пользователя Для того что бы убрать лишние ссылки из header
    </p>
    <p>
      <h5> Зарисовки: </h5><br> 
          можно будет прослушать пару самых известных песен и ссылка на их Офф сайт (если есть)
          интеракивные плашки с актёрами (при наведении выводится Доп информация) кликнув по ней можно перейти на личную страницу актёра.
    </p>
    <p>
      <h5>Ожидаемые Группы:</h5> <br>
      <ul class="list-group">
        <li class="list-group-item">
          Five Finger Death Punch
        </li>
        <li class="list-group-item">
          Daft Punk
        </li>
        <li class="list-group-item">
          Red Hot Chili Peppers
        </li>
        <li class="list-group-item">
          Queen
        </li>
        <li class="list-group-item">
          ABBA
        </li>
        <li class="list-group-item">
          AС/DC
        </li>
        <li class="list-group-item">
          Rammstein
        </li>
        <li class="list-group-item">
          Nirvana
        </li>
        <li class="list-group-item">
          Metallica
        </li>
        <li class="list-group-item">
          и другие
        </li>
      </ul>
    </p>
  </p>
    <ul class="list-group">
      <li class="list-group-item">
        Это мой <a class"list-group-item" href="https://github.com/Sovraska"> Git Hub  </a> 
      </li>
      <li class="list-group-item">
        Резюме на <a class"list-group-item" href="https://spb.hh.ru/resume/ece45f5aff0b5694250039ed1f445233636362?hhtmFrom=resume_list">hh</a>
      </li>
      <li class="list-group-item">
         Тут меня почти нет -_- <a class"list-group-item" href="https://vk.com/semyonnovikov2">VK</a>
      </li>
      <li class="list-group-item">
        Зато здесь скорее всего отвечу <a class"list-group-item" href="https://t.me/Sovraska_s">Telegramm</a>
      </li>
    </ul>
{% endblock %} 