{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row ">
  <h1>Вот что я умею</h1>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        Html
      </li>
      <li class="list-group-item">
        Css
      </li>
      <li class="list-group-item">
        BootStrap
      </li>
      <li class="list-group-item">
        MySql
      </li>
      <li class="list-group-item">
        Как было написано в резюме : Опытный пользователь Персонального Компьютера ) 
      </li>
    </ul>
  </div>
  </aside>
</div>
{% endblock %} 